*.py[cod]
.*
!.babelrc
!.svgrrc.js
!.huskyrc
!.circleci
!.codeclimate.yml
!.coveragerc
!.dockerignore
!.eslint*
!.gqlconfig
!.github
!.gitignore
!.nvmrc
!.prettier*
!.pylintrc
!.travis*
!.tx
*.css
*.log
*.pot
*.pyc
local_settings.py
__pycache__/
build/
coverage/
dist/
*\.egg*

# data
/data/
/media/
node_modules/
/static/
/saleor/static/assets/
webpack-bundle.json
forResolveFix.ipynb
saleor/settings-dev.py
venv
coverage.xml
newrelic.ini
init*.sql

#tmp
package-lock.json
celerybeat-*

#pytest
MagicMock/
